# --- Python & Django ---
__pycache__/
*.py[cod]
*$py.class
server/root/var/www/aura-ras/venv/
venv/
env/

# --- Xcode & Swift ---
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
DerivedData/
*.dSYM

# --- Build Artifacts & Packages ---
client/pkg/build/
build/
*.pkg
*.app

# --- macOS System Files ---
.DS_Store
.AppleDouble
.LSOverride
